.blogsection__container {
    margin: 50px 0;
}

.blogsection__post {
    background-color: aliceblue;
    padding: 20px;
    box-shadow: 5px 5px 40px blue;
    text-align: center;
    width: 40%;
    margin: 20px auto;
}

.blogsection__search {
    text-align: center;
}

.blogsection__search input {
    width: 40%;
    height: 30px;
    padding-left: 20px;
}